.titleP {

    padding: 0;
    margin-left: 135px; 
}

.containerCategorias {
    display: flex;               
    justify-content: space-around; 
    align-items: center;         
    flex-wrap: wrap;             
    margin: 20px;                
    padding: 50px;               
}

.opcionP {
    background-color: #eee8cf;   
    padding: 160px;               
    margin: 10px;                
    border-radius: 8px;          
    text-align: center;          
    flex: 1;                    
    min-width: 50px;            
}
